h1 {
    color:	rgb(73,8,176);
    font-size: 50px;
    text-align: center;
}
* {
    background-color:rgb(243,208,255) ;
}
#add {
   text-align: center;
    }

#list_div {
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
}

#text {
    width: 360px;
    height: 30px;
}
#SubBtn {
    width: 70px;
    height: 35px;
    color: aliceblue;
    background-color:rgb(73,8,176);
    border: none;
    font-size: 15px;
    text-decoration: solid;
}
